div.centered
{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
div.box
{
    background-color:#21252d;
    padding-top: 2px;
    margin-left: 25%;
    padding-bottom: 2px;
    margin-right: 25%;
    border-radius: 3%;
    font-family: sans-serif;
}



